@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000A12;
    color: white;
}
header{
    padding: 10px 20px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hug{
    width: 624px;
    height: 512px;
    background:#2B333A;
    position: absolute;
    top: 120px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);

}
.hug-content{
    padding: 80px;
    gap: 40px;
    text-align: center;
}

.hug-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    line-height: 39px;
    color: #EFF7FA;
}

.btn{
    width: 464px;
    height: 58px;
    padding: 16px 32px;
    text-align: center;
    background-color: #BCE6AD;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    gap: 8px;
    text-decoration: none;
    color: #000A12;
    cursor: pointer;
}
.btn:hover{
    background-color:#6fba54;
}

.btnReturn{
    background: #2B333A;
    color: #BCE6AD;
    border: 1px solid #BCE6AD;
    margin: 20px 0;
}
.btnReturn:hover{
    color: #EFF7FA;
    border: none;
}

@media (max-width: 646px) {
    .hug{
        width: 524px;
    }
}

@media (min-width: 360px) and (max-width: 542px) {
    .hug{
        width: 380px;
        height: 606px;
    }
    .hug-text{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 22px;
    }
    .btn{
        width: 360px;
        height: 58px;
    }    
}