@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400&display=swap');
:root{--header-height: 4rem;
    --nav-width: 90px;
    --first-color: #2B333A;
    --first-color-light: #BCE6AD;
    --white-color: #BCE6AD;
    --font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    --z-fixed: 0;
}
    *,::before,::after{
        box-sizing: 
        border-box}

 body{
        position: relative;
        margin: var(--header-height) 0 0 0;
        padding: 0 1rem;font-family: 
        var(--body-font);
        font-size: var(--normal-font-size);
        transition: .5s;
        background-color: #000A12;
    }
a{text-decoration: none}
.search{background-image: url(search.png) ;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: -2px;
    background-color: #000A12;
    color: #ADD8E6;
    z-index: 2;
    float: left;
}
.header{
         width: 100%;
        height: var(--header-height);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        float: right;
        justify-content: space-between;
        padding: 0 1rem;
        background-color: #000A12;
        z-index: var(--z-fixed);
        transition: .5s}
.upload{
    background-color: #BCE6AD;
    color: #000A12;
    border: 1px solid;
    margin-right: 40px;
}
.upload :hover{
    background-color: #BCE6AD;
    color: #BCE6AD;
    border: 1px solid #BCE6AD;
}
.header_toggle{
                color: var(first-color-light);
                font-size: 50px;
                cursor: pointer;
                margin-left: 0px;
                }
.profile-pic{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: right;
    margin-right: 35px;
    border-radius: 50%;
    overflow: hidden}
.notification{
    margin-left: 50px;
    border: 1px solid #ADD8E6;
    border-radius: 4px;
    float: right;
}
.notification :hover{
    background-color: #BCE6AD;
}
.header_img img{
        width: 40px
    }
.l-navbar{position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 2rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.nav{height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}
.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .8rem 0 .8rem 1.5rem}
.nav_logo{
    margin-bottom: 0rem;
}
.nav_logo-icon{font-size: 1.25rem;
    color: var(--white-color)}

.nav_link{
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}
.nav_link:hover :active{
    color: var(--white-color)
}
.nav_icon{font-size: 1.25rem}
.nav_logo_text{
    margin-top: 0;
}
.privacy-policy{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.privacy-policy:hover{
    color: white;
}
.show{left: 0}
.body-pd{padding-left: calc(var(--nav-width) + 1rem)}
.active{color: var(--white-color)}
.active::before{content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}
.height-100{height:100vh}
.container{
    background-color: #000A12;
}
@media screen and (min-width: 768px)
{body{margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)}
.header{height: calc(var(--header-height) + 1rem);
    padding: 0 0rem 0 calc(var(--nav-width) + 2rem)}
    .profile-pic{width: 30px;height: 30px}
    .profile-pic{width: 45px}
    .l-navbar{left: 0;padding: 1rem 0rem 0 0}
    .search{
        background-color: #000A12;
        color: #ADD8E6;
        border: 1px solid #ADD8E6;
        padding: .5em .3em;
        width: 280px;
        margin-left: 0px;
        border-radius: 8px;
    }
    .body-pd{padding-left: calc(var(--nav-width) + 100px)}}

/*video player*/
.video-container{
    width: 100%;
    display: flex;

}
.main-video-container{
    width: 100%;
}
.video-controls{
width: 100%;
height: 51px;
background: #2B333A;
border-radius: 8px;
justify-content: space-evenly;
align-items: center;
justify-items: center;
display: flex;
margin-top: 0;
}
#play_pause{
left: 12.5%;
right: 12.5%;
margin-left: 0;
top: 12.5%;
bottom: 12.5%;
background-color: transparent;
border: 0;
}
#volume{
    left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;
background-color: transparent;
border: 0;
}
#download{
    left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;
background-color: transparent;
border: 0;
}
.pause{
    left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;
background-color: transparent;
border: 0;
}
#share{
    left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;
background-color: transparent;
border: 0;
}
.video{
    width: 100%;

}
#seek{
    width: 696px;;
height: 7px;
left: 140px;
top: 25px;
color: #BCE6AD;
}
.time *{
    font-size: 16px;
    line-height: 160%;  
    color: #FFFFFF;
}
.seek [value] ::-webkit-progress-bar{
    background-image: linear-gradient(to right, #808589  0%,  #BCE6AD 100%);
    transition: linear;
}
.video-details{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 80px;
    height: 32px;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    margin-right: 25px;
    font-weight: 400;
    font-size: 20px;}
.meta-data, p{
    margin-top: 0;
    margin-bottom: 0;
}
.profile-image{
    width: 63px;
    height: 63px;
    display: flex;
}
.comment-section{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #555C61;
    height: 66px;
    width: 100%;
    margin-top: 40px;
    padding: 10px 20px;
    gap: 8px;
    margin-bottom: 50px;
}
.comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 8px;
    background-color: #000A12;
    width: 400px;
    height: 66px; 
    border: 1px solid #555C61;
    border-radius: 8px;
}
.follow{
    width: 100px;
    height: 35px;
    background: #BCE6AD;
    border-radius: 12px;
font-weight: 600;
font-size: 20px;
float: right;
text-align: center;
color: #2B333A;
gap: 30px;
text-decoration: none;
}
.follow :hover{
    color: #2B333A;
}
#send{
    background-color: transparent;
    border: 0;
    float: right;
    margin-top: -45px;
    
}
#view-more{
    text-decoration: none;
    font-size: 20px;
line-height: 140%;
font-weight: 400;
margin-left: 5px;
color: #ADD8E6;
}
.video-header{
    color: white;
}
.description{
    color: #ADD8E6;
    text-decoration: none;
}
:hover .description{
    color: #ADD8E6;
}
@media screen and (max-width: 500px){
    .search{
        background-image: url(search.png); background-repeat:no-repeat;
        border: 1px solid;
        border-radius: 50px;
        width: 40px;
        height: 40px;

    }
    .nav_logo-icon{font-size: 1rem;
        color: var(--white-color)}
    
    .nav_link{
        position: relative;
        color: var(--first-color-light);
        margin-bottom: 1.5rem;
        transition: .3s
    }
    .nav img{
        height: 25px;
        width: 25px;
    }
    .nav_link:hover{
        color: var(--white-color)
    }
    .nav_icon{font-size: 1rem}
    .nav_logo_text{
        margin-top: 0;
    }
    .l-navbar{position: fixed;
    top: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 2rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}
.privacy-policy{
    font-size: 8px;
    color: white;
    text-decoration: none;
}
.privacy-policy:hover{
    color: white;
}
.body{
    padding: 0;
}
.time{
    font-size: 10px;
    font-weight: 100;
    padding: 0;
    --header-height: 0rem;
    --nav-width: 30px;
}
.video-details{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    height: 32px;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    margin-right: 5px;
    font-weight: 200;
    font-size: 10px;
}
 .follow{
        width: 80px;
        height: 25px;
        background: #BCE6AD;
        border-radius: 12px;
        font-weight: 400;
    font-size: 15px;
    float: right;
    text-align: center;
    color: #2B333A;
    gap: 10px;
    text-decoration: none;
 } 
 .comment-section{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #555C61;
    height: 66px;
    width: 100%;
    margin-top: 40px;
    padding: 10px 20px;
    gap: 8px;
    margin-bottom: 50px;
}
.comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 8px;
    background-color: #000A12;
    width: 200px;
    height: 50px; 
    border: 1px solid #555C61;
    border-radius: 8px;
}
.profile-image{
    width: 30px;
    height: 30px;
    display: flex;
}
#view-more{
    text-decoration: none;
    font-size: 10px;
line-height: 80%;
font-weight: 400;
margin-left: 5px;
color: #ADD8E6;
}
#send{
    background-color: transparent;
    border: 0;
    float: right;
    margin-top: -40px;
    
}}

/*end of media query */
