@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
*{
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#EFF7FA;
}
body{
    background-image: url(images/image\ 19.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav 
{
    display: inline;
    float: right;
    padding: 10px 20px;
    margin: 24px;
}
.content{
    width: 603px;
    height: 610px;
    background: #2B333A;
    padding: 100px 69px;
    gap: 43px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 180px;
    margin-bottom: 180px;
}

.doc-content{
    width: 603px;
    height: 459px;
    background: #2B333A;
    padding: 100px 69px;
    gap: 53px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 180px;
    margin-bottom: 180px;
}
.photo_box{
    width: 400px;
    height: 502px;
}
.title{
    font-size: 40px;
    font-weight: 700;
}
.button{
    width: 464px;
    height: 54px;
    background-color: #BCE6AD;
    border-color: hwb(104 68% 10%);
    border-radius: 8px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    gap: 8px !important;
    text-decoration: none;
    color: #000A12;
    cursor: pointer;
}
.button-sec{
    width: 464px;
    height: 54px;
    background-color: inherit;
    border-color: hwb(104 68% 10%);
    border: 1px solid #BCE6AD;
    border-radius: 8px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    gap: 8px !important;
    text-decoration: none;
    color: #000A12;
    cursor: pointer;
    text-decoration: none;
    color: #BCE6AD;
}

.button:hover{
    background-color:#9DC090;
    color: #000A12;

}
.button:active{
    background-color: #7D9973;

}
.button:disabled{
    background-color: #BCE6AD;
    opacity: 0.4;
}

.button-sec:hover{
    background-color: #90B4C0;
    border: 1px solid #90B4C0;
    color: #000A12;


}
.button-sec:active{
    background-color: #739099;

}
.button-sec:disabled{
    background-color: inherit;
    border: 1px solid #9DC090;
    opacity: 0.4;
}

label{
    width: 464px;
    height: 54px;
    background-color: #BCE6AD;
    border-color: hwb(104 68% 10%);
    border-radius: 8px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    gap: 8px !important;
    text-decoration: none;
    color: #000A12;
    cursor: pointer;
}
@media (min-width: 360px) and (max-width: 542px) {
    .content{
        height: 910px;
        width: 428px;
    }
    .title{
        font-size: 24px;
    }
    ol{
        font-size: 18px;
    }
    p, ul>li{
        font-size: 16px;
    }
    .agree{
        font-size: 14px;
    }
}