@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');
*{justify-content: center; align-items:center;font-family: 'Montserrat';}
p{text-align: center;}
.navbar-brand{font-size: 20px;}
h1{text-align: center; font-family: 'Montserrat'; font-style: normal; font-weight: 600; font-size: 28px; line-height: 49px;}
body{background-color: #000A12;;}
img{background-color: transparent;background: linear-gradient(0deg, rgba(0, 10, 18, 0.88), rgba(0, 10, 18, 0.88)),; display: flex; flex-direction: column; align-items: center; padding: 0px; gap: 8px; position: relative; width: 60px; height: 60px; left: 80px; top: 40px;}
.bg{background-image: url(bg-image.jpg) no-repeat; width: 100%; height: 100vh;justify-content: center; align-items: center;}
.form-label{font-weight:400; font-size: 16px;}
.form-cotainer{ border: 0px solid; border-radius: 8px; padding: 60px; margin-top: 60px; margin-bottom: 10px; background-color: #2B333A; align-items: center; justify-content: center; color: white;}
.form-control{border: 1px solid; background-color: #2B333A; color: #BCE6AD;}
.form-control:focus,:active{background-color: #2B333A; border: 1px ; border-color: #BCE6AD; color: #BCE6AD; box-shadow: none; transition: none !important;  outline: none !important;}
.btn{background-color: #BCE6AD; font-weight: 400; font-size: 20px; border:  1px solid #BCE6AD; box-shadow: none; width: 100%; justify-content: center; align-items: center; margin-top: 10px;}
:hover.btn{background-color: transparent; font-weight: 400; font-size: 20px; color: white; box-shadow: none; border: 1px solid #BCE6AD; transition: 1s;}
:active.btn{box-shadow: none;}
:focus.btn{box-shadow: none;}
a{text-decoration: none; color: white; font-weight: bold;}
.log{color: white; text-decoration:none;}
:hover.log{color: white; text-decoration:none;}
small{font-size: 10px;}

.form-check-input:valid~.form-check-label {color: white;}
:hover.form-check-input:valid~.form-check-label {color: white;}
:focus .form-check-input:valid~.form-check-label {color: white;}
.fgp{margin-left: 40%;}
:hover.fgp{color: white;}
form i {float: right; margin-right: 20px; margin-top: -30px; position: relative; z-index: 2; cursor: pointer;}