@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&display=swap');
*{justify-content: center; align-items:center;font-family: 'Montserrat';}
p{text-align: center;}
h1{text-align: center; font-family: 'Montserrat'; font-style: normal; font-weight: 600; font-size: 40px; line-height: 49px;}
body{background: url(bg-image.jpg)}
img{background-color: transparent;background: linear-gradient(0deg, rgba(0, 10, 18, 0.88), rgba(0, 10, 18, 0.88)),; display: flex; flex-direction: column; align-items: center; padding: 0px; gap: 8px; position: relative; width: 50px; height: 50px; left: 80px; top: 40px;}
.bg{background-image: url(bg-image.jpg) no-repeat; width: 100%; height: 100vh;justify-content: center; align-items: center;}
.form-cotainer{ border: 0px solid; box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25); backdrop-filter: blur(45px); border-radius: 8px; padding: 40px; margin-top: 60px; margin-bottom: 10px; background-color: #2B333A; align-items: center; justify-content: center; color: white;}
.form-control{border: 1px solid; background-color: #2B333A; color: #BCE6AD;}
.form-control:focus,:active{background-color: #2B333A; border: 1px ; border-color: #BCE6AD; color: #BCE6AD; box-shadow: none; transition: none !important;  outline: none !important;}
.btn{background-color: #BCE6AD; font-weight: 400; font-size: 20px; border:  1px solid #BCE6AD; color: black; box-shadow: none; width: 100%; justify-content: center; align-items: center; margin-top: 10px; margin-bottom: 10px;}
:hover.btn{background-color: transparent;  font-weight: 400; font-size: 20px; color: white; box-shadow: none; border: 1px solid #BCE6AD; transition: 1s;}
:active.btn{box-shadow: none;}
:focus.btn{box-shadow: none;}
.btn-outline-primary{background-color:  #2B333A; font-weight: 400; font-size: 20px;box-shadow: none; color: white; border:  1px solid #BCE6AD; width: 100%; justify-content: center; align-items: center; margin-top: 10px}
:hover.btn-outline-primary{background-color: #BCE6AD; font-weight: 400; font-size: 20px; box-shadow: none; border: 1px solid #BCE6AD; color: white; transition: 1s;}
:active.btn-outline-primary{box-shadow: none;}
:focus.btn-outline-primary{box-shadow: none;}
.form-check-input{background-color: #2B333A; border: 0.5px solid #d3f0c9}
a{text-decoration: none; color: white; font-weight: bold;}
.log{color: white; text-decoration:none;}
:hover.log{color: white; text-decoration:none;}
.was-validated .form-control:invalid {border-color: #dc3545; padding-right: calc(1.5em + 0.75rem); background-image: url(Vector.png); background-repeat: no-repeat; background-position: right calc(0.375em + 0.1875rem) center; background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);}
:hover.needs-validation .was-validated .form-control:invalid a {color: #dc3545;}
:hover .invalid-feedback{color: #dc3545;}
.form-check-input:checked {background-color: #198754; border-color: #198754; border: 0px; box-shadow: none;}
.form-check-input:valid~.form-check-label {color: #198754;}
.was-validated .form-check-input:valid~.form-check-label {color: white;}
.form-check-input:valid~.form-check-label {color: white;}
:hover.form-check-input:valid~.form-check-label {color: white;}
:focus .form-check-input:valid~.form-check-label {color: white;}
.primary:active:focus{box-shadow: none;}
.was-validated.form-check-input:invalid~.form-check-label {color: #dc3545;}
:hover.was-validated.form-check-input:invalid~.form-check-label {color: #dc3545;}
.social{ display: block; position: relative; z-index: 2; float: left; margin-left: -15px; width: 20px; height: 20px; align-items: center;}
.siwg{margin-top:-10px;}
.siwg:focus, :active{outline: 0; box-shadow: none;}
form i {float: right; margin-right: 20px; margin-top: -30px; position: relative; z-index: 2; cursor: pointer;}


