{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Password Reset Successful" %}{% endblock %}

{% block content %}

<div class="form-block">

    <div class="form-block-content">

        <h4>{% trans "Password Reset Successful" %}</h4>

        <hr class="line-separator">

        <p class="highlighted mb-4">
            {% trans "You have successfully reset your password and can now login with your new password." %}</p>

        <a href="{% url 'accounts:login' %}" class="button mid secondary">{% trans "Click to login" %}</a>

    </div>
</div>

{% endblock %}