{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block content %}

<div class="form-block">

    {% if validlink %}

    <div class="form-block-headline secondary">
        <h2>{% trans "Reset your password" %}</h2>
        <p>{% trans "Enter your new password below to reset your password." %}</p>
    </div>

    <div class="form-block-content">
        <form method="post" action="">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for errors in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ errors }}</div>
            {% endfor %}

            <div class="form-group">
                <label class="form-control-label rl-label required {% if form.new_password1.errors %}invalid{% endif %}"
                    for="{{ form.new_password1.id_for_label }}">{% trans "New Password" %}</label>

                <input autofocus="" type="password"
                    class="form-control {% if form.new_password1.errors %}invalid{% endif %}"
                    name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}"
                    placeholder="{% trans 'Enter your new password' %}"
                    {% if form.new_password1.field.required %}required{% endif %} />

                {% for error in form.new_password1.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}

                {% if form.new_password1.help_text %}
                <small class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
                {% endif %}
            </div>

            <div class="form-group">
                <label class="form-control-label rl-label required {% if form.new_password2.errors %}invalid{% endif %}"
                    for="{{ form.new_password2.id_for_label }}">{% trans "Confirm New Password" %}</label>

                <input type="password" class="form-control {% if form.new_password2.errors %}invalid{% endif %}"
                    name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}"
                    placeholder="{% trans 'Confirm your new password' %}"
                    {% if form.new_password2.field.required %}required{% endif %} />

                {% for error in form.new_password2.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}

                {% if form.new_password2.help_text %}
                <small class="form-text text-muted">{{ form.new_password2.help_text }}</small>
                {% endif %}
            </div>

            <button class="button mid secondary" type="submit">{% trans 'Reset password' %}</button>

        </form>
    </div>

    {% else %}

    <div class="form-block-content">

        <h4 class="text-danger">{% trans "Invalid Password Reset Link" %}</h4>

        <hr class="line-separator">

        <p class="highlighted">
            {% trans "This password reset link is invalid, possibly because it has already been used or it was incorrectly copied." %}
        </p>
        <p class="highlighted">{% trans "Please request for a new reset" %} <a href="{% url 'accounts:password_reset' %}"
                class="secondary">{% trans "here" %}</a>.</p>
        <p class="highlighted">{% trans "Thank you." %}</p>

    </div>

    {% endif %}

</div>

{% endblock %}