{% extends 'main/header.html' %}

  {% block content %}

  <!--CTA-->
  <h1>Hello world!!!!</h1>

  

<h1>hello world !!!!1</h1>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      {% if request.user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{ user.username }}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>

{% comment %} <div>
  {% for message in messages %}
  <h3> {{messages}} </h3>
  {% endfor %}
</div>   {% endcomment %}

{% endblock %}

