{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Account Activation Failed" %}{% endblock %}

{% block content %}

<div class="wrapper p-5">
    <img src="{% static 'images/danger.svg' %}" alt="">

    <h3 class="mt-3">{% trans "Account Activation Failed" %}</h3>

    <p>{% trans "This account activation link is invalid, possibly because it has already been used or it may have incorrectly been copied from your email." %}</p>
    <p>
        {% trans "Please request for a new activation link" %} <a href="{# url 'accounts:resend_activation' #}"
            class="text-info">{% trans "here" %}</a>.
    </p>
</div>

{% endblock %}