{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block content %}

<h1 class="head pt-2">{% trans 'Forgot your password?' %}</h1>
<p class="py-2 mb-3">{% trans "Enter the email you registered with in the form below and we'll send you instructions for creating a new password." %}</p>

<form method="post" action="">
    {% csrf_token %}

    {% include 'partials/_form_errors.html' %}

    <div class="mb-3">
        <label class="form-label {% if form.email.errors %}invalid{% endif %}" for="{{ form.email.id_for_label }}">{% trans "Email" %}</label>

        <input autofocus type="email" class="form-control {% if form.email.errors %}invalid{% endif %}"
            name="{{ form.email.name }}" id="{{ form.email.id_for_label }}"
            {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}" {% endif %}
            maxlength="{{ form.email.field.max_length }}" placeholder="{% trans 'Enter your email' %}"
            {% if form.email.field.required %}required{% endif %}>

        {% for error in form.email.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}

        {% if form.email.help_text %}
        <small class="form-text text-muted">{{ form.email.help_text }}</small>
        {% endif %}
    </div>

    <button class="btn submit my-3" type="submit">{% trans "Send" %}</button>
</form>

<a href="{% url 'accounts:login' %}" class="text-center text-white mb-3">Back to login</a>

{% endblock content %}