{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Email Sent" %}{% endblock %}

{% block content %}

<div class="form-block">

	<div class="form-block-content">

		<h4>{% trans "Password Reset Email Sent" %}</h4>
		
		<hr class="line-separator">
	    
	    <p class="highlighted">{% trans "We have sent you an email with a link to reset your password." %}</p>
	    <p class="highlighted">{% trans "If an account exists with the email you entered, you should receive the link shortly." %}</p>
	    <p class="highlighted">{% trans "Please check your email and click on the link to continue. You might want to check your spam box if you don't get a link in your inbox." %}</p>
	    <p class="highlighted">{% trans "Thank you." %}</p>

	</div>
</div>

{% endblock %}