{% extends "registration/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Password Reset Successful" %}{% endblock %}

{% block content %}

<div class="text-center">
    <img src="{% static 'images/double_check.svg' %}" alt="">

    <h3 class="mt-3">{% trans "Password Reset Successful" %}</h3>

    <p>{% trans "You have successfully reset your password and can now login with your new password." %}</p>
            
</div>

<a href="{% url 'accounts:login' %}" class="btn submit text-center mb-3">Click to login</a>

{% endblock %}