{% extends "registration/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset Email Sent" %}{% endblock title %}

{% block content %}
<div class="wrapper p-5">
	<img src="{% static 'images/sms-notification.svg' %}" alt="">

	<h2 class="mt-5">{% trans "Check your mail" %}</h2>
	<p class="mt-3">We have sent a password reset link to your email</p>
	<div class="mt-3">
		<a href="https://mail.google.com/mail/" target="_blank">
			<button class="btn button-primary">Open email app</button>
		</a>
	</div>
	<p class="check mt-3">
		Didn't receive the email? Check your spam filter, or try 
		<span><a href="{% url 'accounts:password_reset' %}">another email address</a></span>
	</p>
</div>

{% endblock content %}