{% extends "registration/base.html" %}

{% block title %}Choose user type{% endblock title %}

{% block content %}
<div class="wrapper p-5">

    <h2>Choose a User type</h2>
    <p class="py-2 mb-3">You can either sign up as a creator if you are a college student or as a viewer if you only want to stream movies.</p>

<a href="{% url 'accounts:creator_signup' %}" class="btn button-primary">Signup as a
    Creator</a>
<a href="{% url 'accounts:creator_signup' %}" class="btn button-primary">Signup as a Viewer</a>

</div>

{% endblock content %}
