{% extends "registration/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}

<div class="wrapper p-5">

    {% if creator %}
        <h2>Become A Creator</h2>
        <p class="py-2 mb-3">Get started and upload your videos in the hut.</p>
    {% else %}
        <h2>Join our platform</h2>
        <p class="py-2 mb-3">Watch endless hours of movies by creators.</p>
    {% endif %}

    <form method="post" action="" class="needs-validation">

        {% csrf_token %}
        {% include 'partials/_form_errors.html' %}

        <div class="mb-3">
            <label for="id_email" class="form-label">Email:</label>
            <input type="email" name="email" maxlength="254" autofocus
                class="form-control {% if form.email.errors %}is-invalid{% endif %}" required id="id_email"
                placeholder="Enter your email" {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"
                {% endif %}>
            {% for error in form.email.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="id_password1" class="form-label">Password:</label>
            <input type="password" name="password1" autocomplete="new-password"
                class="form-control {% if form.password1.errors %}is-invalid{% endif %}" placeholder="Enter Password" required
                id="id_password1">
            {% for error in form.password1.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        
        <div class="mb-3">
            <label for="id_password2" class="form-label">Password confirmation:</label>
            <input type="password" name="password2" autocomplete="new-password"
                class="form-control {% if form.password2.errors %}is-invalid{% endif %}" placeholder="Confirm Password" required
                id="id_password2">
            {% for error in form.password2.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <button type="submit" class="btn button-primary">Register</button>
        </div>

        <p>Already have an account? <a href="{% url 'accounts:login' %}" class="text-info">Login</a></a></p>
    </form>
</div>

{% endblock content %}